In [10]:
import pandas as pd
import numpy as np

In [11]:
#GroupBy

In [16]:
data = {
    'Category' : ['A','B','A','B','A','B','A','B'],
    'Store':['S1','S1','S2','S2','S1','S2','S2','S1',],
    'Sales':[100,200,150,250,120,100,200,300],
    'Quantity':[10,15,12,18,8,20,15,25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [17]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    100        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [22]:
c = df.groupby('Category')['Sales'].sum()
c

Category
A    570
B    850
Name: Sales, dtype: int64

In [23]:
c = df.groupby('Store')['Sales'].sum()
c

Store
S1    720
S2    700
Name: Sales, dtype: int64

In [24]:
c = df.groupby(['Category','Store'])['Sales'].sum()
c

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       350
Name: Sales, dtype: int64

In [25]:
#Aggregation

In [27]:
df['Sales'].mean()

np.float64(177.5)

In [29]:
df['Sales'].agg(['mean','min','max'])

mean    177.5
min     100.0
max     300.0
Name: Sales, dtype: float64